<ion-header [translucent]="true" *ngIf="loggedUser">
  <ion-toolbar>
    <ion-title color="primary">
      My Chats
    </ion-title>
    <ion-title color="warning" slot="end">
      {{loggedUser.username}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="loggedUser">

  <ion-list *ngFor="let user of users">
    <!-- Sliding item with text options on both sides -->
    <ion-item-sliding>
      <ion-item-options side="start">
        <ion-item-option color="danger">Delete</ion-item-option>
      </ion-item-options>
  
      <ion-item [routerLink]="['/chat/', loggedUser.id, user.id]">
        <ion-label>{{user.username}}</ion-label>
        <ion-icon name="chatbubble-outline" color="success"></ion-icon>
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option>Add To Group</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  
  </ion-list>
</ion-content>
