ion-item {
    background-color: white;
}
.password {
    margin-top: 30px;
}
ion-card {
    background-color: whitesmoke;
    padding: 40px;
    margin-top: 30%;
}
ion-button {
    margin-top: 30px;
}