<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary">
      My Groups
    </ion-title>
    <ion-button slot="end" class="button-top" [routerLink]="['/add-group']">
      <ion-icon name="add" color="warning"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="groups?.length === 0">
    <p class="ion-text-danger">You have no groups yet <a href="">click here to add</a></p>
  </ion-card>
  <ion-card *ngFor="let group of groups" [routerLink]="['/group-chat', group.id]">
    {{group.groupName}}
  </ion-card>
</ion-content>
